<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SNUG - Sustav naručivanja usluga glačanja</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="sadrzaj">

    <h1>SNUG</h1>
    <h2>Sustav naručivanja usluga glačanja</h2>

    <nav>
        <a th:href="@{/narudzbe}">Narudžbe</a>

        <a th:href="@{/vrste-rublja}">Vrste rublja</a>
    </nav>

    <hr/>

    <p>Dobrodošli u sustav naručivanja usluga glačanja.</p>

</div>

</body>
</html>